


/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.btn:focus {
  outline: none;
  box-shadow: none;
}


.ReactDokuContainer{
  /* width: 400px;
  height:400px; */
  width: 30vw;
  height: 30vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  display: grid;
  /* background-color: #2196F3; */
  border: 3px solid   rgb(255, 174, 0);
  border-radius: 4px;
  padding:4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dokubox1{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
npm install react-grid-layout
  color: black;
  font-size: 90%;
  text-align: center;
  border-radius: 2px;
  
}

.dokubox1:focus{
  background-color: rgb(255, 174, 0);
}

/* .dokubox1:focus{
  background-color: rgb(255, 200, 0);
} */

/* 
@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  
  50% {
    -webkit-filter: hue-rotate(180deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  
  50% {
    filter: hue-rotate(100deg);
  }
  
  100% {
    filter: hue-rotate(0deg);
  }
} */
/* grid-auto-rows: repeat(3, auto 1fr); */

/* .container{
  width: 50%;
  height:0;
  padding-bottom: 50%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(min-content,max-content);
  display: grid;
  background-color: #2196F3;
} */
