
.gridbox {

  background-color: #61dafb;
  border: 2px solid #282c34;
  margin: 0;
  padding:0;
  box-sizing: border-box;

}

.boxHighlight {

  background-color: #ffffff00;
  border: 4px solid #ff0000;
  margin: 0;
  padding:0;
  /* box-sizing: border-box; */


}

.gridlayout{

  background-color: #1eb40d;
  border: 2px solid #7806f2;
  margin: 0;
  padding:0;
  /* box-sizing: border-box; */
}

/* Adding in styles for page here */

.App {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: rgb(46, 46, 46);
}

.footer{
  background: rgb(46, 46, 46);
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.container#app{
  background:rgb(46, 46, 46);
  min-height: 400px;
  width: 400px;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.navbar {
  background: #232323;
  color: #fff;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}


.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: lightblue;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.header {
  background-color:rgb(46, 46, 46);;
  color: #fff;
  min-height: 400px;
}

.header h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 10px;
}

.header img {
  max-width: 400px;
}

/* .header .container {

  width:360px;
} */


/* .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.boxes .container {
  display: flex;
  justify-content: space-between;
}

.box-footer {
  flex: 1;
  background: #1c1d1e;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.footer-end{
  flex: 1;
  background: #1c1d1e;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding: 15px 20px;
}

.box-footer i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }

  .boxes .container {
    display: block;
    text-align: center;
  }
}